# Titanik veri seti kullanılarak sınıflandırma yarışması

In [1]:
## kütüphaneleri yükle
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Veri dosyasını yükle
df_train=pd.read_csv('/kaggle/input/titanic/train.csv')
df_test=pd.read_csv('/kaggle/input/titanic/test.csv')

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
df=pd.concat([df_train, df_test], ignore_index=True)

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [7]:
df_train.shape,df_test.shape

((891, 12), (418, 11))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

In [9]:
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [10]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Age'].isnull().sum()

0

In [11]:
df['Fare'].fillna(df['Fare'].median(), inplace=True)
df['Fare'].isnull().sum()

0

In [12]:
df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148', 'B45', 'B36', 'A21', 'D34', 'A9', 'C31', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C55 C57', 'C116', 'F', 'A29', 'C6', 'C28',
       'C51', 'C97', 'D22', 'B10', 'E45', 'E52', 'A11', 'B11', 'C80',
       'C89', 'F E46', 'B26', 'F E57', 'A18', 'E60', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D40', 'D38', 'C105'], dtype=object)

In [13]:
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin          1014
Embarked          2
dtype: int64

In [14]:
df['Embarked'].value_counts()

Embarked
S    914
C    270
Q    123
Name: count, dtype: int64

In [15]:
df['Embarked'].fillna('S',inplace=True)
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin          1014
Embarked          0
dtype: int64

In [16]:
# Özellikler ve hedefi belirle 
y=df['Survived']
X=df.drop(['PassengerId', 'Survived','Name','Ticket','Cabin'], axis=1)
X.head(),y.head()

(   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
 0       3    male  22.0      1      0   7.2500        S
 1       1  female  38.0      1      0  71.2833        C
 2       3  female  26.0      0      0   7.9250        S
 3       1  female  35.0      1      0  53.1000        S
 4       3    male  35.0      0      0   8.0500        S,
 0    0.0
 1    1.0
 2    1.0
 3    1.0
 4    0.0
 Name: Survived, dtype: float64)

In [17]:
X=pd.get_dummies(X,drop_first=True)

In [18]:
X_train=X[:891]
X_test=X[891:]
y_train=y[:891]
y_test=y[891:]

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.naive_bayes import BernoulliNB

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [29]:
def classification_models(X,y,test_size=0.2, random_state=42):
    X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=test_size, random_state=random_state)
    models=[RandomForestClassifier(),GaussianNB(),
           LogisticRegression(),SVC(),
           KNeighborsClassifier(n_neighbors=5),
           GradientBoostingClassifier(),
           AdaBoostClassifier(),
           ExtraTreesClassifier(),
            BaggingClassifier(),
            BernoulliNB()
           ]
    results=[]
    for model in models:
        model.fit(X_train,y_train)
        predicts=model.predict(X_test)
        print ("Model:", model)
        print("Model Accuracy:", accuracy_score(predicts, y_test))
        print("Model CM:", confusion_matrix(predicts, y_test),"\n")
        print ("Model C_Rep:",classification_report(predicts, y_test) )
        print (50*"-")
        results.append(accuracy_score(predicts,y_test))
    best_model=[results.index(max(results))]
    print ("En iyi model:", best_model)
    print ("Skor", max(results))
    models_scores=pd.DataFrame({"Models":["RandomForestClassifier","GaussianNB",
           "LogisticRegression","SVC",
           "KNeighborsClassifier",
           "GradientBoostingClassifier()",
           "AdaBoostClassifier()",
           "ExtraTreesClassifier()",
            "BaggingClassifier",
            "BernoulliNB"
           ],
           "Skorlar":results })

    print (models_scores.sort_values(by='Skorlar',
           ascending=False,
           ignore_index=True
          ))

In [21]:
X_train

     Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0         3  22.0      1      0   7.2500      True       False        True
1         1  38.0      1      0  71.2833     False       False       False
2         3  26.0      0      0   7.9250     False       False        True
3         1  35.0      1      0  53.1000     False       False        True
4         3  35.0      0      0   8.0500      True       False        True
..      ...   ...    ...    ...      ...       ...         ...         ...
886       2  27.0      0      0  13.0000      True       False        True
887       1  19.0      0      0  30.0000     False       False        True
888       3  28.0      1      2  23.4500     False       False        True
889       1  26.0      0      0  30.0000      True       False       False
890       3  32.0      0      0   7.7500      True        True       False

[891 rows x 8 columns]

In [30]:
classification_models(X_train,y_train)

Model: RandomForestClassifier()
Model Accuracy: 0.8100558659217877
Model CM: [[90 19]
 [15 55]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.86      0.83      0.84       109
         1.0       0.74      0.79      0.76        70

    accuracy                           0.81       179
   macro avg       0.80      0.81      0.80       179
weighted avg       0.81      0.81      0.81       179

--------------------------------------------------
Model: GaussianNB()
Model Accuracy: 0.770949720670391
Model CM: [[84 20]
 [21 54]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.80      0.81      0.80       104
         1.0       0.73      0.72      0.72        75

    accuracy                           0.77       179
   macro avg       0.76      0.76      0.76       179
weighted avg       0.77      0.77      0.77       179

--------------------------------------------------
Model: LogisticRegression()
Model Accuracy: 0.7988826815642458
Model CM: [[89 20]
 [16 54]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.85      0.82      0.83       109
         1.0       0.73      0.77      0.75        70

    accuracy                           0.80       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.80      0.80      0.80       179

--------------------------------------------------
Model: SVC()
Model Accuracy: 0.6536312849162011
Model CM: [[99 56]
 [ 6 18]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.94      0.64      0.76       155
         1.0       0.24      0.75      0.37        24

    accuracy                           0.65       179
   macro avg       0.59      0.69      0.56       179
weighted avg       0.85      0.65      0.71       179

--------------------------------------------------
Model: KNeighborsClassifier()
Model Accuracy: 0.6983240223463687
Model CM: [[87 36]
 [18 38]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.83      0.71      0.76       123
         1.0       0.51      0.68      0.58        56

    accuracy                           0.70       179
   macro avg       0.67      0.69      0.67       179
weighted avg       0.73      0.70      0.71       179

--------------------------------------------------
Model: GradientBoostingClassifier()
Model Accuracy: 0.8044692737430168
Model CM: [[94 24]
 [11 50]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.90      0.80      0.84       118
         1.0       0.68      0.82      0.74        61

    accuracy                           0.80       179
   macro avg       0.79      0.81      0.79       179
weighted avg       0.82      0.80      0.81       179

--------------------------------------------------
Model: AdaBoostClassifier()
Model Accuracy: 0.8044692737430168
Model CM: [[88 18]
 [17 56]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.84      0.83      0.83       106
         1.0       0.76      0.77      0.76        73

    accuracy                           0.80       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.80      0.80      0.80       179

--------------------------------------------------
Model: ExtraTreesClassifier()
Model Accuracy: 0.8324022346368715
Model CM: [[90 15]
 [15 59]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.86      0.86      0.86       105
         1.0       0.80      0.80      0.80        74

    accuracy                           0.83       179
   macro avg       0.83      0.83      0.83       179
weighted avg       0.83      0.83      0.83       179

--------------------------------------------------
Model: BaggingClassifier()
Model Accuracy: 0.7932960893854749
Model CM: [[87 19]
 [18 55]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.83      0.82      0.82       106
         1.0       0.74      0.75      0.75        73

    accuracy                           0.79       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.79      0.79      0.79       179

--------------------------------------------------
Model: BernoulliNB()
Model Accuracy: 0.7821229050279329
Model CM: [[88 22]
 [17 52]]

Model C_Rep:               precision    recall  f1-score   support

         0.0       0.84      0.80      0.82       110
         1.0       0.70      0.75      0.73        69

    accuracy                           0.78       179
   macro avg       0.77      0.78      0.77       179
weighted avg       0.79      0.78      0.78       179

--------------------------------------------------
En iyi model: [7]
Skor 0.8324022346368715
                         Models   Skorlar
0        ExtraTreesClassifier()  0.832402
1        RandomForestClassifier  0.810056
2  GradientBoostingClassifier()  0.804469
3          AdaBoostClassifier()  0.804469
4            LogisticRegression  0.798883
5             BaggingClassifier  0.793296
6                   BernoulliNB  0.782123
7                    GaussianNB  0.770950
8          KNeighborsClassifier  0.698324
9                           SVC  0.653631

In [31]:
x_tree= ExtraTreesClassifier()
x_tree.fit(X_train,y_train)
y_pred=x_tree.predict(X_test)
y_pred

array([0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 1., 0., 0.,
       0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 1., 0.,
       1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       1., 1., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 1.,
       0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0.,
       1., 1., 1., 1., 0., 0., 1., 0., 0., 1.])

In [34]:
submission=pd.DataFrame({"PassengerId":df_test['PassengerId'],
                         "Survived":y_pred.astype(int)})
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         1
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [35]:
submission.to_csv('submission.csv',index=False)